@use "@/styles/media.scss";

.badge {
  font-size: 10px;
  padding: 2px 6px;
  border: none;
  color: #fff;
  text-transform: uppercase;

  @include media.min-width(tablet) {
    font-size: 14px;
    padding: 4px 12px;
  }

  & span {
    text-transform: uppercase;
  }

  &-new {
    background-color: #1aac5c;
  }

  &-top {
    background-color: #dca324;
  }
}